<h1>timelines</h1>


<table>
  <tr>
    <th>Name</th>
  </tr>

<% @timelines.each do |timeline| %>
  <tr>
    <td><%= link_to timeline.name, timeline %></td>
    <td><%= link_to 'Edit', edit_user_timeline_path(timeline) if current_user.id == timeline.user_id %></td>
    <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } if current_user.id == timeline.user_id %></td>
  </tr>
<% end %>
</table>
