<h1>timelines</h1>


<table>
  <tr>
    <th>Name</th>
  </tr>

<% @timelines.each do |timeline| %>
  <tr>
    <td><%= timeline.name %></td>
    <td><%= link_to 'Show', timeline %></td>
    <td><%= link_to 'Edit', edit_user_timeline_path(timeline) %></td>
    <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
